{% load static %}
{% include 'components/header.html  ' %}
<link rel="stylesheet" href="{% static 'css/book.css' %}">
<!-- Контент с карточками -->
<div class="container mt-4 content">
    <div class="row justify-content-center">
        {% for item in book_list %}
        <!-- Пример карточки книги -->
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 100%;">
                <img src="{{ item.image.url }}" class="card-img-top" alt="Обложка книги">
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">{{ item.created_at }}</p>
                    <a href="/book_detail/{{item.id}}/" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Футер -->
{% include 'components/footer.html' %}